*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.box{
    height: 70vh;
    width: 30vw;
    background-color: rgb(199, 241, 12);
    border-radius: 5%;

    display: flex;
    flex-direction: column;
    /* justify-content: center;    */
    align-items: center;   
    gap: 15px;    
}
ul{
    list-style: decimal;
    padding-right: 160px;
    cursor: pointer;
}

h2{
    padding-top: 20px;
}


button{
    padding: 3px;
    transition: 0.3s ease;
    border-radius: 20%;
}
button:hover{
    background-color: aquamarine;
}
input{
    padding: 3px;
    border-radius: 1%;
}