*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    width: 400px;
}


input{
    font-size: 60px;
    border: 0;
    outline: none;
    color: white;
    background-color: black;
    flex-grow: 1;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: right;
    padding-right: 50px;
}

.btn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    /* gap:2px; */
    flex-grow: 1.5;
}

button{
    border-radius: 50px;
    height:70px;
    width: 75%;
    border:0;
    font-size: 40px;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 200ms;
    background-color: rgb(44, 41, 41);
    color: white;
}

button:active{
    transform: scale(0.90);
}

.yellow-btn{
    background-color: rgb(255, 200, 0);
}
.grey-btn{
    background-color: rgb(135, 132, 132);
}
.zero{
    grid-column: span 2;
}